<h1 style="margin: 5px 0">Спортни зали</h1>
<div style="width: 100%; margin: 5px 0">
    <div class="dropdown" class="city-dropdown" style="float: left; margin-left: 6%; margin-right: 10%;">
        <button class="btn btn-secondary dropdown-toggle dark-green-button"
                style="width: 100px"
                type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            София
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item">София</a>
            <a class="dropdown-item">Пловдив</a>
            <a class="dropdown-item">Варна</a>
        </div>
    </div>
    <div class="search-court" style="width: 60%;">
        <input #inputElement
               (keyup.enter)="searchCourts(inputElement.value)"
               style="width: 80%"
               type="text"
               class="form-control"
               placeholder="Име на спортна зала, спорт или район">
        <div style="margin-left: 10px">
            <button type="submit"
                    class="btn green-button"
                    style="width: 100px;"
                    (click)="searchCourts(inputElement.value);">
                Търси
            </button>
        </div>
    </div>
</div>
<div class="courts">
    <div class="card court" *ngFor="let court of visibleCourts">
        <img src="/assets/{{court.id}}.jpg" height="200" class="card-img-top court-image" alt="{{court.name}}">
        <div class="card-body">
            <h5 class="card-title name">{{court.name}}</h5>
            <div class="card-description">
                <p class="card-text playgrounds">{{court.playgrounds}}</p>
                <p class="card-text address"><strong>{{court.address}}</strong></p>
            </div>
        </div>
        <a class="btn green-button reserve-button">Резервирай</a>
        <!--            <a class="btn btn-danger delete-button" (click)="deleteCourt(court.id)">Изтрий</a>-->
    </div>
</div>
